<div class="container text-start">
 <div class="row">
  <div class="col-md-5 mx-auto">
   <h2 class="mt-3 mb-2">User info</h2>
    <%= form_with model: @user do |f| %>
      <div><label for="inputName">Name</label></div>
      <div class="mb-3"><%= f.text_field :name, class:"form-control w-100", autofocus: true, id: "inputName" %></div>
      <div><label for="Image">Image</label></div>
      <div class="mb-3"><%=f.file_field :profile_image, placeholder:"ファイルを選択", accept: 'image/*' %></div>
      <div><label for="Introduction">Introduction</label></div>
      <div class="mb-3"><%= f.text_area :introduction, class:"form-control w-100", autofocus: true, id: "introduction" %></div>
      <div><%= f.submit "Update User", class: "btn btn-secondary" %></div>
    <% end %>
  </div>
 </div>
</div>