<%= render 'books/list', book: @book, user: @user %>

<h1 class="title">Books</h1>
 <p class="nav">Title</p>
 <p class="nav">Opinion</p>
  <div>
   <%= link_to user_path(@user.id) do %>
   <%= image_tag @user.get_profile_image(100,100) %>
   <% end %>
   <% @books.each do |book| %>
   <%= link_to book_path(book) do %>
    <p><%= @books.name %></p>
   <% end %>
    <p><%= book.body %></p>
  </div>
 <% end %>
