<h1 class="title">Books</h1>
 <p class="nav">Title</p>
 <p class="nav">Opinion</p>

<div>
 <% @books.each do |book| %>
  <%= link_to user_path(book.user.id) do %>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <% end %>
  <%= link_to book_path(book) do %>
  <p><%= @books.name %></p>
 <% end %>
  <p><%= book.body %></p>
 <% end %>
</div>