<%= render 'list', book: @book, user: @user %>

<h1>Book detail</h1>
<div>
 <%= link_to user_path(@user.id) do %>
  <%= image_tag @user.get_profile_image(100,100) %>
  <%= @user.name %>
 <% end %>
  <%= link_to book_path(@book) do %>
  <p><%= @books.name %></p>
 <% end %>
  <p><%= @book.body %></p>
  <%= button_to "Edit", edit_book_path(@book), method: :get, class: "btn btn-green-hover" %>
  <%= button_to "Destroy", book_path(@book), method: :delete, class: "btn btn-green-hover", "data-confirm" => "本当に消しますか？" %>
</div>
