<div>
 <%= flash[:notice] %>
</div>
<div class="container text-start py-3">
 <div class="row">
  <div class="col-md-6 mx-auto">
   <h1>welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong> !!</h1>
   <p>In <i class="fa-solid fa-book"></i><strong>Bookers</strong>,</p>
   <p>you can share and exchange your opinions , impressions , and emotions</p>
   <p>about various books!</p>

   <div class="d-flex flex-column align-items-center">
  <%= form_with model:@user, url: new_user_session_path, method: :post do |f| %>
   <%= f.submit "Log in", class:"btn btn-info mb-3", style:"width:450px;" %>
  <% end %>

  <%= form_with model:@user, url: new_user_registration_path, method: :get do |f| %>
   <%= f.submit "Sign up", class:"btn btn-success", style:"width:450px;" %>
  <% end %>
   </div>
  </div>
 </div>
</div>
